# Background
The objective of this project is to classify the overall sentiment of a tweet's context as neutral, negative, or positive using NLP classifiers. To complete, this project, we are given a dataset of 27,481 tweets, where 22,464 of those tweets were captured as having either a neutral, negative, or positive sentiment. Our goal is to use this training data of ~27.5k tweets to predict the sentiment of the 3,534 tweets in our testing data set.

# Objective
Run TextBlob on testing set and see how accurate it is

## Import Libraries

In [2]:
from textblob import TextBlob
import re
import numpy as np
import pandas as pd

## Read Testing Dataset

In [3]:
test = pd.read_csv("/Users/bethelikejiofor/Documents/GitHub/ENTITY-Final-Project/Data/test.csv")
test.head()

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive

## Wrangling Dataset

In [4]:
def removepunct(text):
    text = re.sub(r'[^\w\s]', '', text)
    return text

In [5]:
test = test[['text', 'sentiment']]
test['text'] = test.text.astype(str).str.lower()
test['text_clean'] = test['text'].apply(removepunct)
test.head()

,text,sentiment,text_clean
0,last session of the day http://twitpic.com/67ezh,neutral,last session of the day httptwitpiccom67ezh
1,shanghai is also really exciting (precisely -...,positive,shanghai is also really exciting precisely s...
2,"recession hit veronique branquinho, she has to...",negative,recession hit veronique branquinho she has to ...
3,happy bday!,positive,happy bday
4,http://twitpic.com/4w75p - i like it!!,positive,httptwitpiccom4w75p i like it

## TextBlob Sentiment Analysis

In [6]:
def sentiment_analyzer(text):
    analysis = TextBlob(text)
    if analysis.sentiment.polarity > 0:
        return 'positive'
    if analysis.sentiment.polarity < 0:
        return 'negative'
    if analysis.sentiment.polarity == 0:
        return 'neutral'

In [7]:
test['sentiment_pred'] = test['text_clean'].apply(sentiment_analyzer)

In [8]:
test.head()

,text,sentiment,text_clean,sentiment_pred
0,last session of the day http://twitpic.com/67ezh,neutral,last session of the day httptwitpiccom67ezh,neutral
1,shanghai is also really exciting (precisely -...,positive,shanghai is also really exciting precisely s...,positive
2,"recession hit veronique branquinho, she has to...",negative,recession hit veronique branquinho she has to ...,neutral
3,happy bday!,positive,happy bday,positive
4,http://twitpic.com/4w75p - i like it!!,positive,httptwitpiccom4w75p i like it,neutral

In [9]:
pos = len(test[test['sentiment']=='positive'])
pos1 = len(test[(test['sentiment']=='positive') & (test['sentiment_pred']=='positive')])
print('Positive accuracy: ',pos1/pos*100,'%' )

Positive accuracy:  78.05983680870354 %

In [10]:
neg = len(test[test['sentiment']=='negative'])
neg1 = len(test[(test['sentiment']=='negative') & (test['sentiment_pred']=='negative')])
print('Negative accuracy: ',neg1/neg*100,'%' )

Negative accuracy:  49.05094905094905 %

In [11]:
neu = len(test[test['sentiment']=='neutral'])
neu1 = len(test[(test['sentiment']=='neutral') & (test['sentiment_pred']=='neutral')])
print('Neutral accuracy: ',neu1/neu*100,'%' )

Neutral accuracy:  51.11888111888112 %